<%layout('layout/boilerplate')%> 
    <div class="product-information-wrapper grid">
        <div class="product-information grid wide">
            <div class="row">
                <div class="col l-4 ">
                    <img src=<%=getBook.image.url%> alt="" class="product-information-img">
                </div>
                <div class="col l-4 product-information-detail ">
                    <p class="product-information-detail__author">Tác giả: <span><%=getBook.author%></span></p>
                    <p class="product-information-detail__name"><%=getBook.name%></p>
                    <p class="product-information-detail__price">$ <%=getBook.price%> đ</p>
                    <a href="/addToCart/<%=getBook._id%>">
                    <button class="product-information-detail__btn">
                       <span>Chọn mua</span>
                    </button>
                    </a>
                </div>
                <div class="col l-4 product-information-description-wrapper">
                        <div class="row">
                            <div class="product-information-description col l-7">
                                <h3 class="product-information-description__heading">Mô tả sản phẩm</h3>
                                <p class="product-information-description__detail"><%=getBook.description%></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>